.DS_Store

# # To ignore an entire directory with all its contents, you need to include the name of the directory with the slash / at the end:
# test/

# # ignores all .md files
# .md

# # does not ignore the README.md file
# !README.md
